@media screen and (max-width: 40.0rem) {
  .row-reverse {
    display: flex;
    flex-direction: column-reverse;
    background-position: center 50%; 
  }

  .carousel-bg2 {
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(../images/home/bg-2nn.jpg);
    background-position: center;
  }

  .carousel-bg3 {
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(../images/home/bg-3nn.jpg);
    background-position: center top;
  }
  
  .carousel-bg4 {
    background-repeat: no-repeat;
    background-image: url(../images/home/bg-4nn.jpg);
    background-position: center 20%;
    background-size: cover;
  }

  .pres-bg10 {
    height: 500px;
    border-left: none;
  }


  .carousel-caption {
    color: white !important;
  }

  .car-cap {
    width:100%;
    padding-right: 20px;
    font-size: 20pt;
    font-weight: 800;
    color:#fff;
    text-align:right;
    bottom:100%;
    -webkit-transform:translate(0, 100%);
    -ms-transform:translate(0, 100%);
    transform:translate(0, 700%);
  }

  .car-font {
    color: black;
  }

  .ws-treatment-500 {
    min-height: 600px;
  }

  .lab-bg {
    min-height: 250px;
  }

  .lab-bg2 {
    margin-bottom: 5px;
  }

  .of-bg10 {
    margin-bottom: 5px;
  }

  .sleep-bg4 {
    background-position: left;
  }

  /*Treatment Images*/
  .ws-bg6 {
    height: 300px;
    background-position: center 100%;
  }

  .ws-bg7 {
    height: 300px;
    background-position: center 100%;
  }

  .ws-bg8 {
    height: 300px;
    background-position: center 100%;
  }

  .ws-bg9 {
    height: 25rem;
    background-position: center 100%;
  }

  .ws-bg10 {
    height: 200px;
    background-position: center 100%;
    background-size: 100%;
  }

  .ws-bg11 {
    height: 300px;
    background-position: center 100%;
    background-size: 100%;
  }

  .ws-bg12 {
    height: 250px !important;
    background-position: center 100%;
    background-size: 100%;
  }

  .ws-bg13 {
    background-size: 60%;
  }

  /*Treatment Word*/
  .ws-bg30 {
    height: 300px;
    color: white;
    background-position: center 100%;
    padding-top: 10%;
  }

  .ws-bg31 {
    height: 350px;
    color: white;
    background-size: contain;
    background-position: center 100%; 
    padding-top: 10%;
  }

  .ws-bg32 {
    height: 350px;
    color: white;
    background-size: contain;
    background-position: center 100%; 
    padding-top: 10%;
  }

  .before {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    position: absolute;
    left: 0;
    font-size: 22px;
  }

  .ws-bg33, .ws-bg34, .ws-bg37, .ws-bg38, .ws-bg39, .ws-bg48, .ws-bg42, .ws-bg43, .ws-bg46, .ws-bg47, .ws-bg51, 
  .ws-bg52, .ws-bg55, .ws-bg56, .ws-bg59, .ws-bg60, .ws-bg75, .ws-bg76, .ws-bg79, .ws-bg80, .ws-bg83, .ws-bg84, 
  .ws-bg87, .ws-bg88  {
    background-size: 70%;
  }

  .ws-bg63 {
    height: 337px;
    background-size: cover;
  }

  .ws-bg33, .ws-bg34, .ws-bg35,  .ws-bg36, .ws-bg37, .ws-bg38, .ws-bg39 {
    height: 350px;
    color: white;
  }

  /*Review*/

  .quote {
    text-align: justify;
    font-family: 'Roboto', sans-serif;
    line-height: 18pt;
    font-size: 11pt;
    -webkit-transform:translate(0, 1000%);
    transform:translate(-4%, -0%);
  }


  /*Clinic Images*/
  .ws-bg21 {
    min-height: 350px;
    background-position: center 100%; 
  }

  .ws-bg22 {
    min-height: 350px;
    background-position: center 100%; 
  }

  .ws-bg23 {
    min-height: 350px;
    background-position: center 100%; 
  }

  .ws-bg24 {
    min-height: 350px;
    background-position: center 100%; 
  }

  .ws-bg25 {
    min-height: 350px;
    background-position: center 100%; 
  }

  .ws-bg26 {
    min-height: 350px;
    background-position: center 100%; 
  }

  .ws-bg27 {
    min-height: 350px;
    background-position: center 100%; 
  }

  .ws-bg28 {
    min-height: 350px;
    background-position: center 100%; 
  }

  .ws-bg29 {
    min-height: 350px;
    background-position: center 100%; 
  }
  
  /*Contact Us*/
  

  #side-nav {
    display: none;
  }

  #content-container {
    margin-left: 0px;
  }

  .navbar {
    border-radius-top: 0.2em;
    background-color: #5f3857 !important;
    display: block;
    padding: 0px;
  }

  .navbar-header {
    background-color: white;
    border-bottom: 2px solid #7d3369;
    margin: 0px;
    padding: 0.5em;
  }

  .nav-item {
    padding-left: 1em;
  }

  .navbar-brand {
    padding: 0.5em;
  }

  .navbar-toggler {
    float: right;
  }

  a.navbar-brand {
    color: white;
  }

  a.nav-link {
    color: white !important;
  }

  .navbar-light .navbar-toggler {
    color: #5f3857;
    border-color: transparent;
  }

  .loc-pad3 {
    padding-bottom: 0px;
    padding-top: 50px;
  }

  /*
  .container-fluid {
    padding-right: 0px;
    padding-left: 0px;
  }

  #content-container {
    padding: 0;
  }
  */
}

@media screen and (max-width: 25.0rem) {
  
  .lgo {
    max-width: 90px !important;
    max-height: 90px !important;
  }

  .find-out-more-right {
    top: 70% !important;
  }

  .find-out-title-left {
    font-size: 21px !important;
  }
}

@media screen and (max-width: 30.0rem) {

  .lgo {
    max-width: 90px !important;
    max-height: 90px !important;
  }

  .navbar-toggler {
    padding: 1.7rem .75rem !important;
  }

  .logo_style {
    max-width: 50px;
    max-height: 50px;
  }

  .top-right {
    position: absolute;
    bottom: 400px;
    right: 1px;
  }

  .pres-bg7 {
    padding-bottom: 170px;
  }

  .pres-bg72 {
    padding-bottom: 400px;
  }

  .of-bg1 {
    min-height: 250px;
    margin-bottom: 5px;
  }

  .of-bg2 {
    min-height: 250px;
  }

  .of-bg5 {
    min-height: 150px;
    margin-bottom: -15px;
    background-size: 90%;
  }

  .of-bg3 {
    min-height: 200px;
  }

  .of-bg6 {
    min-height: 200px;
    margin-bottom: 5px;
  }

  .of-bg7, .of-bg8, .of-bg9 {
    min-height: 250px;
  }

  .ex-bg1 {
    background-position: 25%;
  }

  .ws-bg66, .ws-bg67, .ws-bg68, .ws-bg69-2 {
    height: 300px;
  }

  .ws-bg115 {
    min-height: 300px;
    background-size: contain;
  }

  .ws-headgear {
    background-size: 60%;
  }

  .visit-bg1, .visit-bg2, .visit-bg3, .visit-bg4 {
    min-height: 250px;
    background-size: contain;
  }

  .ws-bg128, .ws-bg129 {
    height: 300px;
    background-size: contain;
  }

  .dodont-bg4 {
    min-height: 250px;
  }

  .ws-bg126, .ws-bg125, .ws-bg127 {
    height: 250px;
  }

  .play-bg1 {
    height: 250px;
  }

  .find-out-more {
    top: unset;
    bottom: 0;
    padding-top: 10px;
  }

  .find-out-more-right {
    top: unset;
    bottom: 0;
  }

  .find-out-title-left {
    font-size: 24px;
  }

  .find-out-title-lefts {
    top: 17%;
  }

  .find-out-mores {
    top: 95%;
    left: 50%;
  }

  .navbar-nav .dropdown-menu {
    background-color: #5f3857;
  }

  .dropdown-menu {
    border: 0;
  }

  .dropdown-item {
    color: white;
  }

  .dropdown-item:focus, .dropdown-item:hover {
    display: block !important;
  }

  .dropdown-item.active,.dropdown-item:active{
    display: block !important;
  }
}

/* ipad */
@media screen and (width: 64.0rem) {
  .col-sm-6 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }

  .padding-center {
    padding-left: 5%;
    padding-right: 5%;
  }

  .find-out-more {
    margin-top: 10px;
  }

  .find-out-title-lefts {
    top: 10%;
  }

  .find-out-mores {
    left: 50%;
    margin-top: 10px;
  }

  .ws-bg26, .ws-bg124 {
    background-position: center;
  }

  .pres-bg6 p, .pres-bg10 p {
    padding-top: 0 !important;
  }

}