body {
  font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif;
  line-height: 1.5;
}

html {
  scroll-behavior: smooth;
}

.h3, h3 {
  font-size: 1.75rem;
}

.h4, h4 {
  font-size: 1.25rem;
}

#main-container {
  width: 100vw;
  min-height: 100vh;
}

#navbarText {
  background-color: #5f3857;
}

#side-nav {
  padding-top: 50px;
  padding-left: 0px;
  min-height: 100vh;
  position: fixed;
  width: 280px;
  border-right: 1px solid silver;
  text-align: center;
}

#content-container {
  margin-left: 280px;
  padding: 0.5em;
  width: 100%;
  min-height: 100vh;
  background-color: #fefefe;
}

#side-nav ul {
  list-style-type: none;
  padding: 0;
  margin-top: 80px;
}

#side-nav li {
  margin: 0.5em;
  text-align: right;
  border-bottom: 1px solid silver;
}

#side-nav li a {
  text-transform: uppercase;
  color: #333;
}

.navbar {
  display: none;
}

.ws-side-info {
  margin-top: 10px;

}

.ws-side-info i {
  /* color: #946bb0; */
  color: #855ea2;
  font-size: 16pt;
  margin: 0.5em;
}

.ws-line {
  text-align: middle;
}


.ws-purpose {
  text-align: center;
  padding-top: 80px;
  padding-bottom: 120px;
}

.ws-width {
  max-width: 700px;
  margin: auto;  
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.container-fluid {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

.ws-purpose-item {
  color: black;
  min-height: 280px;
  max-height: 314px;
  background-color: #c2a2cc;
}

.ws-purpose-item p {
  padding: 2em;
}

.ws-80 {
  text-align: center;
  padding-left: 10%;
  padding-right: 10%;
}

.pos-1 {
  text-align: center;
  position: absolute;
  top: 65%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.pos-2 {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.ws-button {
  display: block;
  padding: 0.5em;
  color: white;
  background-color: #6f3994;
  text-decoration: none;
  margin: auto;
  margin-top: 30px;
  width: 200px;
  border-radius: 0.5em;
  text-align: center;
}

.ws-button-2 {
  display: inline-block;
  padding: 0.5em;
  color: white;
  background-color: #6f3994;
  text-decoration: none;
  margin: auto;
  margin-top: 30px;
  width: 150px;
  border-radius: 0.5em;
  text-align: center;
  margin-right: 10px;
}

.ws-button:hover, .ws-button-2:hover {
  text-decoration: none;
  color: #d3b7e7;
}

.ws-promise {
  text-align: center;
  padding-top: 100px;
  padding-bottom: 100px;
  max-width: 800px;
  margin: auto;
}

.ws-promise-item {
  padding: 4em;
  background-color: #955894;
  text-align: center;
  color: white;
}

.ws-before-after {
  padding-top: 5em;
  background-color: white;
  height: 200px;
}

.before {
  font-size: 1.5rem;
  text-align: center;
}

.ws-team {
  text-align: center;
  padding-top: 100px;
  padding-bottom: 100px;
  max-width: 800px;
  margin: auto;
}

.ws-team-item {
  padding: 3em;
  background-color: #ab84bd;
  color: white;
  min-height: 280px;
}

.ws-team-item2 {
  background-color: #ab84bd;
  color: white;
  min-height: 280px;
  text-align: center;
}

.ws-team-item2 p {
  padding: 3em;
}

.ws-image-placeholder {
  vertical-align: middle;
  text-align: center;
}

.ws-partner {
  background-color: #f0e0f2 !important;
}

.ws-partner-item {
  padding: 3em;
  min-height: 280px;
  border-right: 1px solid #f2f2f3;
}

.ws-treatment {
  padding-top: 100px;
  padding-bottom: 100px;
  text-align: center;
  max-width: 900px;
  margin: auto;
}

.ws-treatment-header {
  text-align: center;
  padding-top: 100px;
  padding-bottom: 100px;
  max-width: 100%;
  margin: auto;
  background-color: #0000009e;
  padding-right: 0px;
  padding-left: 0px;
}

.ws-treatment-item {
  padding: 3em;
  background-color: white;
  min-height: 300px;
}

.ws-contact {
  padding-top: 100px;
  padding-bottom: 50px;
  text-align: center;
  margin-left: -15px;
  margin-right: -15px;
  background-color: #e295e3;
}

.contact-title {
  color: #855ea2;
}

.ws-contact-2 {
  padding-top: 100px;
  padding-bottom: 50px;
  text-align: center;
  margin: auto;
  background-color: #d0a7cf;
}

.ws-contact i, .ws-contact-2 i {
  font-size: 16pt;
  margin: 0.5em;
  color: #855ea2;
}

.ws-contact-item {
  padding: 2em;
  background-color: white;
  min-height: 280px;
  color: white;
}

.ws-contact-grid {
  display: grid;
  grid-template-columns: 50px auto;
  margin-top: 5px;
}

.ws-contact-grid i {
  color: #d0a7cf;
  font-size: 16pt;
  text-align: center;
}

.fa-mobile-phone {
  font-size: 20pt !important;
}

.car-cap {
  font-size: 30pt;
 /* font-weight: 700; */
  line-height: 1.0;
  color:#fff;
  text-align:right;
  -webkit-transform:translate(0, 1000%);
  /* -ms-transform:translate(0, 100%); */
  transform:translate(-4%, 450%);
}

.hm-bg {
  max-height: 416px !important;
}

.ws-bk1 {
  color: white;
    font-size: 13pt;
    background-image: url(../images/old/old.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center
}

.ws-bg1 {
  color: white;
  font-size: 13pt;
  background-color: #cfa6ce;
}

.ws-bg2 {
  color: white;
  background-color: #7fa9b3;
  padding-top: 10%;
}

.ws-bg3 {
  color: white;
  background-color: #855ea2;
}

.ws-bg4 {
  background-color: #c4a8c5;
}

.ws-bg5 {
  color: white;
  background-color: #9e799d;
}

.ws-bgdd {
  color: white;
  background-color: #c2a2cc;
}

.txt-p {
  margin-bottom: 0.5rem !important;
}

.pres-bg6 {
  color: white;
  background-color: #855ea2;
  height: 400px;
}

.pres-bg7 {
  color: #7110b3;
  background-color: white;
  padding-bottom: 100px;
}

.pres-bg72 {
  color: #7110b3;
  background-color: white;
  padding-bottom: 100px;
}

.pres-bg10 {
  color: white;
  background-color: #855ea2;
  height: 400px;
  border-left: 5px solid;
}

.pres-bg8 {
  color: white;
  font-size: 15pt;
  background-image: url(../images/types/mbracesnew.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.pres-bg9 {
  color: white;
  font-size: 15pt;
  background-image: url(../images/home/help.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right center;
  height: 350px;
}

.ws-bggs1 {
    color: white;
    font-size: 13pt;
    background-image: url(../images/young/kid.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center
}

.ws-bgg1 {
  background-color: #855ea2;
}

.ws-bggg1 {
  color: white;
  font-size: 13pt;
  background-image: url(../images/young/kid2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center
}

.ws-bggg2 {
  color: white;
  font-size: 13pt;
  background-image: url(../images/young/kid3.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center
}

.ws-promise-header {
  text-align: center;
  padding-top: 100px;
  padding-bottom: 100px;
  max-width: 100%;
  margin: auto;
  background-color: #0000009e;
  padding-right: 0px;
  padding-left: 0px;
}

.ws-bgg2 {
  background-color: #dbdbdb;
}

/*Clinic Background*/
.ws-bg40 {
  color: white;
  background-color: #c0a9d1; 
}

.ws-bg41 {
  background-color: #E5E5f7;  
}

/* Treatment Cover Image */

.ws-bg6 {
  color: white;
  height: 500px;
  background-image: url(../images/types/metalb.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.ws-bg7 {
  color: white;
  height: 500px;  
  background-image: url(../images/types/ceraminc.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.ws-bg8 {
  color: white;
  height: 500px;
  background-image: url(../images/types/mbracesnew.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.ws-bg9 {
  color: white;
  height: 500px;
  background-image: url(../images/types/twin-block-appliance2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.ws-bg10 {
  color: white;
  height: 300px;
  background-image: url(../images/types/twin-block-appliance.jpg);
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: center;
}

.ws-bg11 {
  color: white;
  height: 400px;
  background-image: url(../images/types/twin-block-appliance3.jpg);
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: center;
}

.ws-bg12 {
  color: white;
  min-height: 500px;
  background-image: url(../images/types/herbst-appliance2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.ws-bg13 {
  color: white;
  height: 400px;
  background-image: url(../images/types/reverse-headgear.jpg);
  background-size: 40%;
  background-repeat: no-repeat;
  background-position: center;
}

.ws-bg14 {
  color: white;
  height: 400px;
  background-image: url(../images/types/reverse-headgear2.jpg);
  background-size: 40%;
  background-repeat: no-repeat;
  background-position: center;
}

/* Clinic Background Image */

.ws-bg21 {
  color: white;
  height: 500px;
  background-image: url(../images/about-us/Synergy_R_1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.ws-bg22 {
  color: white;
  height: 500px;
  background-image: url(../images/our-team/cert3.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.ws-bg23 {
  color: white;
  height: 500px;
  background-image: url(../images/our-team/cert2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.ws-bg24 {
  color: white;
  height: 400px;
  background-image: url(../images/about-us/drc.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
}

.ws-bg25 {
  color: white;
  height: 500px;
  background-image: url(../images/about-us/abt3.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center 45%;
}

.ws-bg26 {
  color: white;
  height: 500px;
  background-image: url(../images/about-us/abt2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left center;
}

.ws-bg27 {
  color: white;
  height: 400px;
  background-image: url(../images/about-us/abt1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.ws-bg28 {
  color: white;
  height: 400px;
  background-image: url(../images/about-us/abt4.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.ws-bg29 {
  color: white;
  height: 500px;
  background-image: url(../images/our-team/dr.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center 73%;
}

.ws-bg30 {
  color: white;
  height: 500px;
  background-image: url(../images/our-team/cert.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.ws-bg31 {
  color: white;
  height: 300px;
  background-image: url(../images/gallery/bf1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.ws-bg32 {
  color: white;
  height: 300px;
  background-image: url(../images/gallery/af1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.ws-bg33 {
  color: white;
  height: 300px;
  background-image: url(../images/gallery/bf2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.ws-bg34 {
  color: white;
  height: 300px;
  background-image: url(../images/gallery/af2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.ws-bg35 {
  color: white;
  height: 300px;
  background-image: url(../images/gallery/bf3.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.ws-bg36 {
  color: white;
  height: 300px;
  background-image: url(../images/gallery/af3.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.ws-bg37 {
  color: white;
  height: 300px;
  background-image: url(../images/gallery/bf4.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.ws-bg38 {
  color: white;
  height: 300px;
  background-image: url(../images/gallery/af4.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.ws-bg39 {
  color: white;
  height: 300px;
  background-image: url(../images/gallery/bf5.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.ws-bg48 {
  color: white;
  height: 300px;
  background-image: url(../images/gallery/af5.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.ws-bg42 {
  color: white;
  height: 300px;
  background-image: url(../images/gallery/bf6.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.ws-bg43 {
  color: white;
  height: 300px;
  background-image: url(../images/gallery/af6.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.ws-bg44 {
  color: white;
  height: 300px;
  background-image: url(../images/gallery/bf7.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.ws-bg45 {
  color: white;
  height: 300px;
  background-image: url(../images/gallery/af7.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.ws-bg46 {
  color: white;
  height: 300px;
  background-image: url(../images/gallery/bf8.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.ws-bg47 {
  color: white;
  height: 300px;
  background-image: url(../images/gallery/af8.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.ws-bg49 {
  color: white;
  height: 300px;
  background-image: url(../images/gallery/bf9.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.ws-bg50 {
  color: white;
  height: 300px;
  background-image: url(../images/gallery/af9.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.ws-bg51 {
  color: white;
  height: 300px;
  background-image: url(../images/gallery/bf10.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.ws-bg52 {
  color: white;
  height: 300px;
  background-image: url(../images/gallery/af10.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.ws-bg53 {
  color: white;
  height: 300px;
  background-image: url(../images/gallery/bf11.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.ws-bg54 {
  color: white;
  height: 300px;
  background-image: url(../images/gallery/af11.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.ws-bg55 {
  color: white;
  height: 300px;
  background-image: url(../images/gallery/bf12.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.ws-bg56 {
  color: white;
  height: 300px;
  background-image: url(../images/gallery/af12.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.ws-bg57 {
  color: white;
  height: 300px;
  background-image: url(../images/gallery/bf13.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.ws-bg58 {
  color: white;
  height: 300px;
  background-image: url(../images/gallery/af13.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.ws-bg59 {
  color: white;
  height: 300px;
  background-image: url(../images/gallery/bf14.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.ws-bg60 {
  color: white;
  height: 300px;
  background-image: url(../images/gallery/af14.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.ws-bg69 {
  color: white;
  height: 300px;
  background-image: url(../images/gallery/bf15.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.ws-bg70 {
  color: white;
  height: 300px;
  background-image: url(../images/gallery/af15.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.ws-bg71 {
  color: white;
  height: 300px;
  background-image: url(../images/gallery/bf16.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.ws-bg72 {
  color: white;
  height: 300px;
  background-image: url(../images/gallery/af16.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.ws-bg73 {
  color: white;
  height: 300px;
  background-image: url(../images/gallery/bf17.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.ws-bg74 {
  color: white;
  height: 300px;
  background-image: url(../images/gallery/af17.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.ws-bg75 {
  color: white;
  height: 300px;
  background-image: url(../images/gallery/bf18.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.ws-bg76 {
  color: white;
  height: 300px;
  background-image: url(../images/gallery/af18.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.ws-bg77 {
  color: white;
  height: 300px;
  background-image: url(../images/gallery/bf19.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.ws-bg78 {
  color: white;
  height: 300px;
  background-image: url(../images/gallery/af19.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.ws-bg79 {
  color: white;
  height: 300px;
  background-image: url(../images/gallery/bf20.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.ws-bg80 {
  color: white;
  height: 300px;
  background-image: url(../images/gallery/af20.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.ws-bg81 {
  color: white;
  height: 300px;
  background-image: url(../images/gallery/bf21.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.ws-bg82 {
  color: white;
  height: 300px;
  background-image: url(../images/gallery/af21.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.ws-bg83 {
  color: white;
  height: 300px;
  background-image: url(../images/gallery/bf22.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.ws-bg84 {
  color: white;
  height: 300px;
  background-image: url(../images/gallery/af22.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.ws-bg85 {
  color: white;
  height: 300px;
  background-image: url(../images/gallery/bf23.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.ws-bg86 {
  color: white;
  height: 300px;
  background-image: url(../images/gallery/af23.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.ws-bg87 {
  color: white;
  height: 300px;
  background-image: url(../images/gallery/bf24.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.ws-bg88 {
  color: white;
  height: 300px;
  background-image: url(../images/gallery/af24.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.ws-bg89 {
  color: white;
  height: 300px;
  background-image: url(../images/gallery/bf25.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.ws-bg90 {
  color: white;
  height: 300px;
  background-image: url(../images/gallery/af25.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.ws-bg91 {
  color: white;
  height: 300px;
  background-image: url(../images/gallery/large-25.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin-top: -10px;
}

.ws-bg92 {
  color: white;
  height: 300px;
  background-image: url(../images/gallery/bf26.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.ws-bg93 {
  color: white;
  height: 300px;
  background-image: url(../images/gallery/af26.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin-top: -10px;
}

.ws-bg94 {
  color: white;
  height: 300px;
  background-image: url(../images/gallery/bf27.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.ws-bg95 {
  color: white;
  height: 300px;
  background-image: url(../images/gallery/af27.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.ws-bg96 {
  color: white;
  height: 300px;
  background-image: url(../images/gallery/large-27.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin-top: -10px;
}

.ws-bg97 {
  color: white;
  height: 300px;
  background-image: url(../images/gallery/bf28.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.ws-bg98 {
  color: white;
  height: 300px;
  background-image: url(../images/gallery/af28.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin-top: -10px;
}

.ws-bg99 {
  color: white;
  height: 300px;
  background-image: url(../images/gallery/bf29.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.ws-bg100 {
  color: white;
  height: 300px;
  background-image: url(../images/gallery/af29.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin-top: -10px;
}

.ws-bg101 {
  color: white;
  height: 300px;
  background-image: url(../images/gallery/bf30.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.ws-bg102 {
  color: white;
  height: 300px;
  background-image: url(../images/gallery/af30.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.ws-bg103 {
  color: white;
  height: 300px;
  background-image: url(../images/gallery/bf31.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.ws-bg104 {
  color: white;
  height: 300px;
  background-image: url(../images/gallery/af31.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.ws-bg105 {
  color: white;
  height: 300px;
  background-image: url(../images/gallery/bf32.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.ws-bg106 {
  color: white;
  height: 300px;
  background-image: url(../images/gallery/af32.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.ws-bg107 {
  color: white;
  height: 300px;
  background-image: url(../images/gallery/bf33.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.ws-bg108 {
  color: white;
  height: 300px;
  background-image: url(../images/gallery/af33.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.ws-bg109 {
  color: white;
  min-height: 300px;
  background-image: url(../images/gallery/crossbite-kids.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.ws-bg110 {
  color: white;
  min-height: 300px;
  background-image: url(../images/gallery/crossbite-kids2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.ws-bg111 {
  color: white;
  min-height: 300px;
  background-image: url(../images/gallery/diastema-child.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.ws-bg112 {
  color: white;
  min-height: 300px;
  background-image: url(../images/gallery/diastema-child2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.ws-bg113 {
  color: white;
  min-height: 300px;
  background-image: url(../images/gallery/deepbite-child.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.ws-bg114 {
  color: white;
  min-height: 300px;
  background-image: url(../images/gallery/deepbite-child2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.ws-bg115 {
  color: white;
  min-height: 500px;
  background-image: url(../images/gallery/jaw-disrepancy-child2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.ws-bg116 {
  color: white;
  min-height: 300px;
  background-image: url(../images/gallery/jaw-lower.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.ws-bg117 {
  color: white;
  min-height: 300px;
  background-image: url(../images/gallery/young1.jpg);
  background-repeat: no-repeat;
  background-position: center;
}

.ws-bg118 {
  color: white;
  min-height: 300px;
  background-image: url(../images/gallery/young2.jpg);
  background-repeat: no-repeat;
  background-position: center;
}

.ws-bg119 {
  color: white;
  min-height: 300px;
  background-image: url(../images/our-team/dr2.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}

.ws-bg120 {
  color: white;
  height: 400px;
  background-image: url(../images/home/smile.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.ws-bg121 {
  color: white;
  background-image: url(../images/home/home1.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 350px;
}

.ws-bg122 {
  color: white;
  height: 400px;
  background-image: url(../images/home/xray.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.ws-bg123 {
  color: white;
  height: 400px;
  background-image: url(../images/home/confidence.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.ws-bg124 {
  color: white;
  height: 400px;
  background-image: url(../images/home/treat.jpg);
  background-repeat: no-repeat;
  /*background-position: center;*/
  background-size: cover;
}

.ws-bg125 {
  color: white;
  height: 400px;
  background-image: url(../images/do-dont/soak.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.ws-bg126 {
  color: white;
  height: 400px;
  background-image: url(../images/do-dont/retainer.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.ws-bg127 {
  color: white;
  height: 400px;
  background-image: url(../images/do-dont/remove.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.ws-bg128 {
  color: white;
  height: 400px;
  background-image: url(../images/do-dont/wax.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.ws-bg129 {
  color: white;
  height: 480px;
  background-image: url(../images/do-dont/braces-component.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.ws-bg130 {
  color: white;
  height: 400px;
  background-image: url(../images/do-dont/biteblock.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.ws-bg131 {
  color: white;
  min-height: 230px;
  background-image: url(../images/do-dont/braces-anatomy.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}

.visit-bg1 {
  color: white;
  min-height: 400px;
  background-image: url(../images/first-visit/fv1.jpg);
  background-repeat: no-repeat;
  background-position: center;
  /*background-size: 80%;
  border: 10px solid #946bb0;*/
}

.visit-bg2 {
  color: white;
  min-height: 400px;
  background-image: url(../images/first-visit/fv3.jpg);
  background-repeat: no-repeat;
  background-position: center;
  /*background-size: 80%;
  border: 10px solid #e5e5f7;*/
}

.visit-bg3 {
  color: white;
  min-height: 400px;
  background-image: url(../images/first-visit/fv2.jpg);
  background-repeat: no-repeat;
  background-position: center;
  /*background-size: 80%;
  border: 10px solid #946bb0;*/
}

.visit-bg4 {
  color: white;
  min-height: 400px;
  background-image: url(../images/first-visit/finance.jpg);
  background-repeat: no-repeat;
  background-position: center;
  /*background-size: 80%;
  border: 10px solid #946bb0;*/
}

.of-bg1 {
  color: white;
  min-height: 300px;
  background-image: url(../images/office-tour/waiting.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 95%;
}

.of-bg2 {
  color: white;
  min-height: 300px;
  background-image: url(../images/office-tour/waiting2.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 95%;
}

.of-bg3 {
  color: white;
  min-height: 300px;
  background-image: url(../images/office-tour/play-area.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 90%;
}

.of-bg4 {
  color: white;
  min-height: 300px;
  background-image: url(../images/office-tour/reception.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 90%;
}

.of-bg5 {
  color: white;
  min-height: 300px;
  background-image: url(../images/office-tour/tr.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 90%;
}

.of-bg6 {
  color: white;
  min-height: 300px;
  background-image: url(../images/office-tour/tr2.jpg);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: 90%;
}

.of-bg7 {
  color: white;
  min-height: 300px;
  background-image: url(../images/office-tour/gr.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 90%;
}

.of-bg8 {
  color: white;
  min-height: 300px;
  background-image: url(../images/office-tour/gr2.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 90%;
}

.of-bg9 {
  color: white;
  min-height: 300px;
  background-image: url(../images/office-tour/gr3.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 90%;
}

.of-bg10 {
  color: white;
  min-height: 300px;
  background-image: url(../images/office-tour/xray.jpg);
  background-repeat: no-repeat;
  background-position: center 25%;
  background-size: 90%;
}

.of-bg11 {
  color: white;
  min-height: 300px;
  background-image: url(../images/office-tour/lab.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 90%;
}

.of-bg12 {
  color: white;
  min-height: 300px;
  background-image: url(../images/office-tour/tp.jpg);
  background-repeat: no-repeat;
  background-position: center 53%;
  background-size: 90%;
}

.dodont-bg1 {
  color: white;
  min-height: 400px;
  background-image: url(../images/do-dont/dd.jpg);
  background-repeat: no-repeat;
  background-position: center;
}

.dodont-bg2 {
  color: white;
  min-height: 400px;
  background-image: url(../images/do-dont/dd1.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.dodont-bg3 {
  color: white;
  min-height: 400px;
  background-image: url(../images/do-dont/loosening.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.dodont-bg4 {
  color: white;
  min-height: 400px;
  background-image: url(../images/types/mbracesnew.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.old-bg1 {
  color: white;
  height: 500px;
  background-image: url(../images/old/old1.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.old-bg2 {
  color: white;
  min-height: 500px;
  background-image: url(../images/old/bracesteen2.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.old-bg3 {
  color: white;
  min-height: 500px;
  background-image: url(../images/old/braces4.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.old-bg4 {
  color: white;
  min-height: 500px;
  background-image: url(../images/old/orthoforteenagers.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.old-bg5 {
  color: white;
  min-height: 500px;
  background-image: url(../images/old/braces6.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.old-bg6 {
  color: white;
  min-height: 500px;
  background-image: url(../images/old/braces5.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.old-bg7 {
  color: white;
  min-height: 500px;
  background-image: url(../images/old/orthodonticforteenagers.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.ws-officetour {
  padding-top: 7em;
  background-color: white;
  height: 200px;
}

.black {
  color: black;
}

.white {
  color: white;
}

.general-dentistry {
  width: 100%;
  height: 100%;
}

/*Home Page*/


.top-right {
  position: absolute;
  bottom: 350px;
  right: 1px;
}

.posImage {
  position: absolute;
  top: 20px;
  right: 20px;
  -ms-transform: translate(-50%, -50%);
  transform: translate(0%, 0%);
}

.posImage2 {
  position: absolute;
  bottom: 360px;
  right: 40px;
  -ms-transform: translate(-50%, -50%);
  transform: translate(0%, 0%);
}

.logo_style2 {
  max-width: 90px;
  max-height: 90px;
}

.logo_style {
  max-width: 60px;
  max-height: 60px;
}

.lgo {
  max-width: 150px;
  max-height: 120px;
}

.carousel-indicators {
  margin-right: 0 !important;
  margin-left: 0 !important;
}

.carousel-bg1 {
  min-height: 500px;
  background-repeat: no-repeat;
  background-image: url(../images/home/ban1.jpg);
  background-size: cover;
  background-position: center 30%;;
}

.carousel-bg2 {
  min-height: 500px;
  background-repeat: no-repeat;
  background-image: url(../images/home/ban2.jpg);
  background-position: center;
  background-size: cover;
}

.carousel-bg3 {
  min-height: 500px;
  background-repeat: no-repeat;
  background-image: url(../images/home/ban3.jpg);
  background-position: center;
  background-size: cover;
}

.carousel-bg4 {
  min-height: 500px;
  background-repeat: no-repeat;
  background-image: url(../images/home/bn-5.jpg);
  background-position: center;
  background-size: cover;
}

/*Contact Us*/
.carousel-bg6 {
  min-height: 500px;
}

.carousel-bg7 {
  min-height: 500px;
}

.carousel-bg8 {
  min-height: 500px;
}

.carousel-bg9 {
  min-height: 500px;
}

.carousel-bg10 {
  min-height: 500px;
}

h1 {
  font-size: 22px;
}

p6 {
  font-family: 'Open Sans', sans-serif;
  font-size: 50px;
  margin-right: 500px;
  text-shadow: 3px 2px rgb(48, 46, 46);
}

p5 {
  font-family: 'Open Sans', sans-serif;
  font-size: 35px;
  text-shadow: 2px 1px rgb(48, 46, 46)
}

h4 {
  font-family: 'Open Sans', sans-serif;
  font-size: 50px;
  margin-right: 700px;
  text-shadow: 3px 2px rgb(48, 46, 46);
}

h2 {
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  margin-right: 750px;
  text-shadow: 3px 2px rgb(48, 46, 46);
}

.contact-carousel {
  background-image: url(../images/contact-us/rv-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center 55%;
  font-size: 18px;
  opacity: 0.8;
}

/*New Home Page Background*/
.ws-bg61 {
  color: white;
  font-size: 15pt;
  background-image: url(../images/types/metalb.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.ws-bg62 {
  color: white;
  font-size: 15pt;
  background-image: url(../images/home/bg-3n.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.ws-bg63 {
  color: white;
  font-size: 15pt;
  background-image: url(../images/home/location.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center 20%;
}

.ws-bg63n {
  color: white;
  font-size: 15pt;
  background-image: url(../images/home/location.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center 20%;
  min-height: 420px;
}

.ws-bg64 {
  color: white;
  font-size: 15pt;
  background-image: url(../images/contact-us/contact_20.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center 30%;
}

.ws-bg65 {
  color: white;
  font-size: 15pt;
  background-image: url(../images/our-team/staffs.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center 44%;
}

.ws-bg66 {
  color: white;
  font-size: 15pt;
  background-image: url(../images/our-team/grace.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center 57%;
}

.ws-bg67 {
  color: white;
  font-size: 15pt;
  background-image: url(../images/our-team/weiwei.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center 57%;
}

.ws-bg68 {
  color: white;
  font-size: 15pt;
  background-image: url(../images/our-team/novelisa.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center 48%;
}

.ws-contact-container {
  margin: auto;
  margin-top: 0px;
  margin-bottom: 50px;
}

.quote {
  text-align: left;
  font-family: 'Roboto', sans-serif;
  line-height: 20pt;
  font-size: 15pt;
  -webkit-transform:translate(0, 1000%);
  transform:translate(-4%, -40%);
}

.quote-bg {
-webkit-transform: translate(0, 1000%);
transform: translate(-4%, -40%);
background-color: black;
opacity: 0.8;
padding: 15px;
}

.cited {
  font-family: 'Roboto', sans-serif;
  font-weight: lighter;
  font-size: 11pt;
  margin-top: 10pt;
  text-align: left;
}

.greview {
  margin-top: 10px;
  max-width: 20%;
  max-height: 30%; 
  filter: brightness(0) invert(1);
   -webkit-transform:translate(0, 1000%);
  /* -ms-transform:translate(0, 100%); */
  transform:translate(-220%, -85%);
}

p10 {
  font-size: 11pt;
  padding-bottom: 6px;
  border-bottom: 2px solid #d0a7cf;
}

.loc-pad {
  padding-bottom: 20px;
}

.loc-pad2 {
  padding-bottom: 0px;
}

.loc-pad5 {
  padding-bottom: 10px;
}

.loc-pad3 {
  padding-bottom: 50px;
  padding-top: 50px;
  text-align: center;
  font-size: 20px;
}

.loc-pad4 {
  padding-bottom: 0px;
  text-align: center;
  padding-top: 10px;
}

.iconc {
  color: #4a94a6;
}

.qqvbed-tJHJj {
  background-color: #5f3857 !important;
  position: relative !important;
}

.i4ewOd-pzNkMb-haAclf {
  display: none !important;
}

.page-footer{
  /* background-color: #43ADFF; */
  /* background-color: silver; */
  color: gray;
}

.footer-copyright .footer-link{
  color: gray;
  text-decoration: none;
}

.dropdown-item.active,.dropdown-item:active{
  display: block !important;
}

@import url("mobile.css");


.submenu{
  display:none;
  margin-top: 10px !important;
  margin-bottom: 10px !important;
}

.submenu li {
  border-bottom: none !important;
  list-style: none;
}

.submenu > li > a {
  text-transform: none !important;
  color: white;
}

.nav-item:hover > ul{
  display:block;
}

.fa-chevron-circle-right {
  font-size: 20px !important;
  color: white;
}

.chevron-kids {
  color: #bfa9d0 !important;
  font-size: 25px !important;
}

.chevron-kids2, .chevron-dodont {
  color: #bfa9d0 !important;
  font-size: 20px !important;
}

.line {
  padding-top: 10px;
}

.line::before, .line::after {
  display: block;
  width: 45px;
  height: 1px;
  margin: 15px auto;
  content: '';
  background: white;
}

.line-black::before, .line-black::after {
  display: block;
  width: 45px;
  height: 1px;
  margin: 15px auto;
  content: '';
  background: black;
}

.subtitle {
  text-align: center;
  padding: 30px;
  font-size: 18px;
}

.find-out-title-left {
  text-align: center;
  padding-top: 50px;
  padding-right: 0;
  padding-bottom: 30px;
  font-weight: 700;
  font-size: 25px;
  position: absolute;
  top: 30%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.find-out-title-lefts {
  text-align: center;
  font-weight: 700;
  font-size: 23px;
  position: absolute;
  top: 30%;
}


.find-out-title-right {
  text-align: center;
  padding-top: 50px;
  padding-bottom: 30px;
  font-weight: 700;
  font-size: 25px;
  position: absolute;
  top: 30%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.find-out-more {
  float: center;
  border: 1px solid;
  padding: 15px;
  color: #bfbfbf;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.find-out-mores {
  float: center;
  border: 1px solid;
  padding: 15px;
  color: #bfbfbf;
  margin: 0;
  position: absolute;
  top: 80%;
  left: 45%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.find-out-more-right {
  float: left;
  border: 1px solid;
  padding: 15px;
  color: #bfbfbf;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.find-out-more:hover, .find-out-more-right:hover {
  color: #7110b3;
  text-decoration: none;
}

.padding-center {
  padding-left: 10%;
  padding-right: 10%;
}

.teeth {
  color: #855ea2; 
  font-size: 25px;
}

.line-2 {
  line-height: 2;
}